.card-container {
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 4px 12px 1px rgb(0 0 0 / 40%), 0 2px 6px 0 rgb(0 0 0 / 12%);
  background: darkturquoise;

  .button-container {
    display: flex;

    .icon-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 2rem;
      
      img {
        width: 1rem;
      }
    }
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}