.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;

  .header-image {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
  }
  .logout-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    a {
      font-size: 2rem;
      font-family: cursive;
      cursor: pointer;
      font-weight: bold;
    }
  }
}